/* General Styles */
body {
  font-family: 'Fira Code';
  color: #f8f8f8;
  background-color: #000;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

html {
  background-color: #000
}

li {
  margin-bottom: 1em; /* Adjust spacing as needed */
}

/* Typography */
h1, h2, h3, h4 {
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 6em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin: 0 0 20px 0;
}

/* Typing effect */
.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink{
  to { opacity: .0; }
}

.flex {
	display: flex;
}

.header-sub-title {
  color: #fff;
  font-family: 'Fira Code';
  font-weight: 700;
  font-size: 8em;
  padding: 0.1em;
}

/* NAVBAR */
.topnav {
  overflow: hidden;
  background-color: #f8f8f8;
  display: flex;
}

.topnav .right {
  margin-left: auto; /* Pushes this section to the right */
}

.navbar-logo {
  height: 45px; /* Adjust height to fit within the navbar */
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Fira Code';
}

.topnav a:hover {
  font-style: oblique;
}

/* SLIDESHOW STUFF */
.content {
  background-image: url("indeximg1.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10px;
  height: 400px;
}

.content2 {
  background-image: url("indeximg2.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10px;
  height: 400px;
}

.content3 {
  background-image: url("indeximg3.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10px;
  height: 400px;
}

.dividerIndex1 {
  border-top: 3px solid #fff;
}

/* Style the footer */
.footer {
  background-color: #fff;
  padding: 10px;
}

/* SPACER STUFF */
.spacer_blank_0 {
  height: 200px; /* Adjust this value to increase or decrease the space */
}

.spacer_blank_1 {
  height: 100px; /* Adjust this value to increase or decrease the space */
}

.spacer_blank_2 {
  height: 50px; /* Adjust this value to increase or decrease the space */
}

/* BUTTON STUFF */
.button {
  border: 2px solid #ff0000;
  color: #ff0000;
  background-color: #000;
  font-family: 'Fira Code', monospace;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: #ff0000;
  color: #000;
}

.button.large {
  font-size: 24px;
}

.button.small {
  font-size: 14px;
}

/* IMAGE STUFF */
.image-container img {
  width: 100%;
  height: 80%;
  transition: border-radius 0.3s;
  border-radius: 10px;
}

.image-container img:hover {
  border-radius: 30px;
}

/* SCROLL COLOUR CHANGE */
.scroll-changed {
  background-color: #f8f8f8;
  color: #000;
}

.scroll-changed .button {
  border-color: #f8f8f8;
  color: #f8f8f8;
}

.scroll-changed .dividerIndex1 {
  border-color: #333;
  color: #333;
}

/* LINKS */
a[href^="https://"]:link,
a[href^="mailto:"]:link {
  color: #f8f8f8;
  background-color: #000;
  text-decoration: none;
}

a[href^="https://"]:hover,
a[href^="mailto:"]:hover {
  color: #ff0000;
  background-color: #000;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  background-color: transparent; /* ensure no background */
}

.carousel-indicators [data-bs-target] {
  filter: invert(1);
  opacity: 0.7; /* optional to adjust visibility */
}


